@import "variable";
@import "reset";
@import "mixin";

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    ;
}
// homepage
h1{
  // font-family: Inter;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 104px */
  letter-spacing: 5.4px;
  text-transform: capitalize;
}
// homepage
h2{
  text-align: center;
  // font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  letter-spacing: 4.8px;
  opacity: 0.8;
}
// 頁面大標
h3{
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cart-point{
  border-radius: 90%;
  background-color: $primary-orange;
  display: flex;
  justify-content: center;
  transform: translateX(15px) translateY(-35px);
    p{
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      color: white;
    }
  
}