@import "main";

.light-orange{
    background-color: #F9F1E7;
}

h3{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.checkOutButton{
    background-color: rgba(0,0,0,0);
    border-radius: 15px;
    border: 1px solid #000;
}