@import "main";
.App{
    background-color:$primary-orange;
}
.notfound{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImg{
    background-image: url('../../public/img/bgimg.jpg');
    height: 100vh;
    background-size:100vw 100vh;
    padding: 0 0;
    // object-fit:scale-down;
}