@import "main";
.App{
    background-color:$primary-orange;
}

.bgImg{
    background-image: url('../../public/img/bgimg.jpg');
    height: 100vh;
    background-size:100vw 100vh;
    padding: 0 0;
    // object-fit:scale-down;
}